body, html{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
body{
    background-color: #ddd;
}
app > view > menu > item[action="sync"] .icon.syncing{
    -webkit-animation:spin 500ms linear infinite;
    -moz-animation:spin 500ms linear infinite;
    animation:spin 500ms linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.floorplan-list{
    padding: 0;
    margin: -10px;
    list-style: none;
}

[disabled]{
    color: #7f7f7f;
}

[mdot]{
    opacity: 1;
    transition: opacity .3s linear;
}
[mdot]:active{
    opacity: 0.5;
}

.floorplan-list > li{
    background-color: #3D8EB9;
    color: white;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    position: relative;
}
.floorplan-list > li:after{
    content: "\E0C8";
    font-family: "Material Icons";
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
}

.image-list{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.image-list li{
    background-color: white;
    width: 100%;
}
.image-list li img{
    width: 100%;
}
.remark-list{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
}

.remark-list > li{
    background-color: white;
    width: calc(100% - 20px);
    min-height: 50px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    order: 5;
}

.remark-list > li[toggled="false"]{

}
.remark-list > li[toggled="true"] h4,
.remark-list > li[toggled="true"] p{
    display: none;
}

.remark-list > li.completed{
    order: 10;
    background-color: #ebebeb;
    color: #858585;
}

.remark-list > li [action="moreShow"]{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.remark-list > li [action="moreShow"] .material-icons{
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: black;
}
#create-checkpoint,
#create-remark{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px;
    color: white;
    background-color: #71BA51;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
}

#remark-add-image-form{
    display: none;
}

.checkpoint-list{
    width: calc(100% - 20px);
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.checkpoint-list li.item{
    margin: 0;
    background-color: white;
    margin-bottom: 10px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: gray;
}

.checkpoint-list li.item.finished{
    border-bottom-color: #71BA51;
    order: 5;
}
.checkpoint-list li.item.unreachable{
    opacity: .4;
    order: 9;
}

.checkpoint-list li.item h4{
    margin: 0;
    padding: 0 60px 0 10px;
    height: 50px;
    line-height: 50px;
}

.no-results{
    margin-top: 0;
}

/*.checkpoint-list li.item:before{
    content: "\E8B6";
    position: absolute;
    right: 0;
    top: 0;
    font-family: "Material Icons";
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 26px;
    line-height: 50px;
    color: #333;
}*/

.checkpoint-list li.item .view{
    position: absolute;
    right: 0;
    top: 0;
    font-family: "Material Icons";
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 26px;
    line-height: 50px;
    color: #333;
    /*border-left: 1px solid #ddd;*/
}
.checkpoint-list li.item .count{
    /* font-family: "Material Icons"; */
    /*height: 50px;*/
    /*width: 50px;*/
    /* font-size: 26px; */
    /*line-height: 50px;*/
    /* z-index: 10; */
    position: absolute;
    right: 50px;
    top: 0;
    text-align: center;
    color: white;
    background-color: orange;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 12px;
    margin: 10px 10px;

}

.checkpoint-list li.item .code{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background-color: #333;
    color: white;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
}

/*.checkpoint-list li.item:after{
    content: attr(data-code);
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background-color: #333;
    color: white;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
}*/

.planning-list{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.planning-list h4{
    padding: 10px;
    height: 50px;
    line-height: 30px;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.planning-list h4 .material-icons{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 50px;
    width: 50px;
    text-align: center;

}

.planning-list .inner{
    background-color: white;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}
app > view > content > .inner,
.planning-list .inner{
    border: 1px solid #c5c5c5;
}

.planning-list > section > li{
    text-align: left;
    line-height: 50px;
}

.planning-list > section > li > ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.planning-list > section > li > ul > li{
    text-align: left;
    padding: 0 10px;
    position: relative;
}

.planning-list > section > li > ul > li.done{
    background-color: #71BA51;
    color: white;
}
.planning-list > section > li > ul > li .view .material-icons:after{
    /*content: "\E8B6";*/
    content: "\E5DA";
}
.planning-list > section > li > ul > li.done .view .material-icons:after{
    content: "\E5CA";
    color: white;
}

.planning-list > section > li > ul > li .view{
    position: absolute;
    right: 0; top: 0;
    font-family: "Material Icons";
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 26px;
    color: #333;
}

.question-list{
    padding: 0;
    margin: 10px 0 0 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.question-list li{
    width: calc(100% - 20px);
    padding: 0;
    /*margin: 10px;*/
    margin: 0 10px 10px 10px;
    box-sizing: border-box;
    text-align: left;
    padding: 0 10px;
    position: relative;
    background-color: white;
    padding: 10px;
    order: 5;
}

.question-list li button.btn{
    margin-top: 10px;
}

.question-list li.answered{
    opacity: .3;
    order: 10;
}

.question-list li.error{
    opacity: 1;
}

.installation-list{
    width: calc(100% - 20px);
    padding: 0;
    margin: 10px;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.installation-list li{
    background-color: white;
    display: inline-block;
    float: left;
    overflow: auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.installation-list li h2{
    margin: 0;
    padding: 0;
}
.installation-list li p{
    margin: 0;
    padding: 0;
}

.installation-list li .service-type{
    width: 33%;
    padding-bottom: 40px;
    float: left;
    position: relative;
    margin-top: 10px;
    border-top: 10px solid gray;
}
.installation-list li .service-type:after{
    content: attr(content);
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
    mnargin: auto;
    line-height: 40px;
    text-align: center;
    color: white;
}

.installation-list button[action="signAppointment"]{
    margin-top: 10px;
    order: 0;
    margin: 0 0 10px 0;
}

.installation-list .question-list[servicetype="1"],
.installation-list .question-list[servicetype="2"],
.installation-list .question-list[servicetype="3"]{
    display: none;
    padding: 0;
    margin: 0;
}

.installation-list > li[on="1"] ~ .question-list[servicetype="1"]{
        margin-top: 10px;
    display: inherit;
}
.installation-list > li[on="2"] ~ .question-list[servicetype="2"]{
        margin-top: 10px;
    display: inherit;
}
.installation-list > li[on="3"] ~ .question-list[servicetype="3"]{
        margin-top: 10px;
    display: inherit;
}

.appointment{

}
.appointment.information,
.appointment.view-checkpoints,
.appointment.view-debtor,
.appointment.view-remarks,
.appointment.view-products{
    line-height: 40px;
    padding: 0 10px;
}
.appointment.information{
    margin: 10px 0 0 0;
line-height: normal;
    width: 100%;
    border: 0;
    color: #333;
    background-color: transparent;
}
.appointment.information .title,
.appointment.view-checkpoints .title,
.appointment.view-debtor .title,
.appointment.view-remarks .title,
.appointment.view-products .title{
    /*line-height: 80px;*/
    font-size: 16px;
}
.appointment.red-card{
    margin: 0;
    text-align: center;
    width: 100%;
    border: 0;
    background-color: #CF000F;
    color: white;
    border-bottom: 1px solid #c5c5c5;
}


.scheme{

}
.scheme.default{
    color: white;
    background-color: #002c50
}
.scheme.debtor-detail{
    color: white;
    background-color: #249991;
}
.scheme.remarks{
    color: white;
    background-color: #BADA55;
}
.scheme.checkpoints{
    color: white;
    background-color: #D2580F;
}
.scheme.floorplan{
    color: white;
    background-color: #3D8EB9;
}

.appointment.view-checkpoints .title:after{
    content: "\E1B7";
    /*background-color: #D2580F;*/
}
.appointment.view-debtor .title:after{
    content: "\E853";
    /*background-color: #249991;*/
}
.appointment.view-remarks .title:after{
    content: "\E0B9";
    /*background-color: #BADA55;*/
}

.appointment.view-products .title:after{
    content: "\E875";
}

.appointment.information:after,
.appointment .title:after{
    font-family: "Material Icons";
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    /*color: white;*/
    /*background-color: #3D8EB9;*/
    /*border-left: 1px solid #c5c5c5;*/
}



.installation-list li input[type="radio"]{
    display: none;
}
.installation-list li form input[type="radio"]{
    display: inline-block;
}

.installation-list li .service-type.status-1{
    background-color: #CF000F;
}
.installation-list li .service-type.status-2{
    background-color: #cccccc;
}

.installation-list li .service-type.status-3{
    background-color: #4a86e8;
}

.installation-list li ul{
    display: none;
}

.installation-list .completed{
    order: 5;
}
.installation-list li ~ ul[on="*"],
.installation-list li[on="1"] ~ ul[on="1"],
.installation-list li[on="2"] ~ ul[on="2"],
.installation-list li[on="3"] ~ ul[on="3"]{
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.installation-list li ~ ul[on="*"]{
    order: 5;
}

.installation-list .question-list[on="1"],
.installation-list .question-list[on="2"],
.installation-list .question-list[on="3"]{
    float: left;
    display: none;
    margin: 0; padding: 0;
}

.installation-list .question-list li{
    margin-left: 0;
    margin-right: 0;
}
.installation-list .question-list li:last-child{
    margin-bottom: 0;
}

.installation-list li[on="1"] .status-1{
    border-top: 10px solid #CF000F;
}
.installation-list li[on="1"] .status-2,
.installation-list li[on="1"] .status-3{
    filter:brightness(90%);
    border-top: 10px solid gray;
}
.installation-list li[on="2"] .status-2{
    border-top: 10px solid #cccccc;
}
.installation-list li[on="2"] .status-1,
.installation-list li[on="2"] .status-3{
    filter:brightness(90%);
    border-top: 10px solid gray;
}
.installation-list li[on="3"] .status-3{
    border-top: 10px solid #4a86e8;
}
.installation-list li[on="3"] .status-1,
.installation-list li[on="3"] .status-2{
    filter:brightness(90%);
    border-top: 10px solid gray;

}



.info-table{
    border-collapse: collapse;
}
.info-table .icon{
    width: 50px;
    height: 50px;
}
.info-table .icon .material-icons{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.info-table .icon + .value{
    /*background-color: #249991;*/
    width: calc(100% - 50px);
    height: 50px;
}

.info-table tr{
    background-color: #249991;
}

.info-table .phone{
    /*background-color: #3D8EB9;*/
    color: white;
}
.info-table .email{
    /*background-color: #71BA51;*/
    color: white;
}

#lastsync{
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    padding: 0;
    color: #aaa;
    font-size: 11px;
    line-height: 8px;
    text-align: right;
}

#complete-appointment{
    position: relative;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 0;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: #71BA51;
}

#complete-appointment p{
    margin: 0;
    padding: 0;
    line-height: inherit;
}

#complete-appointment:after{
    content: "\E5CA";
    font-family: "Material Icons";
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}


.form-search-code .input{
    width: calc( 100% - 50px );
    float: left;
}
.form-search-code .btn-icon{
    float: right;
}
.form.question-form{
    position: relative;
}
.form.question-form h4{
    margin: 0; padding: 10px 0;
}

.form.question-form:after{
    content: attr(question);
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    padding: 0;
    color: #aaa;
    font-size: 11px;
    line-height: 8px;
    text-align: right;
}

[action="moreShow"]{
    position: relative;
}

[action="moreShow"] .more-list{
    position: absolute;
    list-style: none;
    right: 5px;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    z-index: 1;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
}

[action="moreShow"] .more-list hr{
    margin: 0 10px;
    width: calc(100% - 20px);
    border: 0;
    border-top: 1px solid #ddd;
}

[action="moreShow"] .more-list{
    top: 5px;
}

[action="moreShow"] .more-list li{
    width: 200px;
    text-align: left;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 60px;
}

.signature-canvas{
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    height: 30%;
    border: 1px solid #3D8EB9;
    float: left;
    margin-bottom: 10px;
}

.signature-text{
    display: inline-block;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    color: #a6cbdf;
}

#customer-first-name{
    margin-right: 5px;
}
#customer-last-name{
    margin-left: 5px;
}

#customer-first-name,
#customer-last-name{
    width: calc( 50% - 5px );
    float: left;
}

.signature{
    text-align: center;
    height: 50px;
    line-height: 50px;
    float: left;
    display: inline-block;
}
.inner.inner-signature{
    height: calc(100% - 20px);
}
.inner.product-row{
    background-color: white;
    width: calc(100% - 20px);
    margin: 0 10px 10px 10px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
}
.signature.return{
    width: 50%;
    color: white;
    background-color: #3D8EB9;
}
.signature.reset{
    color: #3D8EB9;
    position: relative;
    margin-top: -60px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.signature.reset[target="customer"]{
}
.signature.reset[target="inspector"]{
}

.signature.sign{
    width: 50%;
    color: white;
    background-color: #71BA51;
}


.floorplan-container{
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
    background-color: black;
}

.floorplan-container .inner{
    display: inline-block;
    height: auto;
    width: auto;
    position: relative;
    float: left;
    min-width: 100%;
}

.floorplan-container .inner img{
    float: left;
    min-width: 100%;
}

.floorplan-container .inner .zoom{
    position: fixed;
    right: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.floorplan-container .inner .zoom{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #002c50;
    color: white;
}

.floorplan-container .inner .zoom.in{
    bottom: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.floorplan-container .inner .zoom.out{
    bottom: 20px;
    border-top: 1px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.floorplan-container .floorplan-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    z-index: 100;
}
.floorplan-container .floorplan-icon img{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 100%;
    border: 2px solid #002c50;
    box-sizing: border-box;
}

progress{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

::-moz-progress-bar,
::-webkit-progress-value{
    background: black;
    color: purple;
}

::-webkit-progress-bar{
    color: #ddd;
}
::-webkit-progress-value{
    background-color: #002c50;
}
#remark-upload-progress,
#sync-progress{
    width: 100%;
}



.modal{
    position: fixed;
    /*top: 0;*/
    transform: translate(0, -50%);
    top: 50%;
    left: 0;
    right: 0;
    /*bottom: 0;*/
    margin: auto;
    padding: 10px;
    background-color: white;
    /*min-width: 270px;*/
    width: 270px;
    /*min-height: 200px;*/
    border: 0;

    -webkit-box-shadow: 2px 2px 14px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 14px 2px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 14px 2px rgba(0,0,0,0.3);

    z-index: 10000;
    display: none;
}
.modal[open]{
    display: inherit;
}

.modal .row.btn-row{
    width: 100%;
    min-width: 250px;
    text-align: right;
    box-sizing: border-box;
}

.modal[backdrop] ~ .modal-backdrop{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(255,255,255,.5);
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.modal[backdrop][open] ~ .modal-backdrop{
    display: inherit;
}
.modal .inner{
    padding: 10px;
}

.modal .modal-input{
    width: 100%;
    height: 40px;
    line-height: 40px;
    outline: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #008473;
}
.modal .label.error{
    color: red;
}
.modal .modal-input.error{
    border-bottom-color: red;
    color: red;
}

#form-add-product,
#form-add-product .row{
    margin: 0;
}
#form-add-product .btn.btn-default.success{
    width: 50px;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
}
#form-add-product select{
    width: calc(100% - 50px);
}

.product-list{

}
.product-list .product-count{
    width: 25%;
    float: left;
    display: inline-block;
}
.product-list .product-name{
    width: 75%;
    float: right;
    display: inline-block;
}
.red-card-on-state{
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: -10px -10px 10px -10px;
    background-color: #CF000F;
    color: white;
}
