<menu class='has-2'>
    <item action="navigateBack">
        <i class="material-icons">&#xE5C4;</i>
    </item>
    <search>
        <form id='form-search-code' class='form form-search-code'>
            <input type="text" name="value" class='input' placeholder="Zoek..."/>
            <button type='submit' class='btn btn-icon success'><i class="material-icons">&#xE8B6;</i></button>
        </form>
    </search>
</menu>
<content>
    <ul class='checkpoint-list'>
        <li class='label label-default no-results warning hidden'>Geen resultaten</li>
    </ul>
</content>


<script>
    app.navigate.back = function(){
        app.scanner.canScan = false;
        app.navigate.to('views/appointment/index.html', function(e){

        });
    }
    app.checkpoint = null;
    app.checkpointIndex = null;
    var appointment = app.appointment;

    for(var i in appointment.checkpoints){
        var sp = appointment.checkpoints[i];

        var isFinished = "finished";

        for(var qI in sp.questions){
            var q = sp.questions[qI];
            if(q.answered == false && q.required == true){
                isFinished = '';
                break;
            }
        }

        var unreachable = (sp.unreachable == true) ? 'unreachable' : '';

        var str = "<li class='item "+isFinished+" "+unreachable+"' data-code='"+sp.code+"' action='viewCheckpoint' checkpoint='"+i+"' mdot noselect>";
        str += "<h4>" + sp.name + "</h4>";
        str += "<div class='view'><i class='material-icons'>&#xE8B6;</i></div>";
        str += "<div class='code'>" + sp.code + "</div>";
        str += "</li>";
        $('.checkpoint-list').append( $(str) );
    }
    app.scanner.canScan = true;
</script>
