<menu class='has-3'>
    <item action="navigateBack">
        <i class="material-icons">&#xE5C4;</i>
    </item>
    <title>Meetpunten</title>
    <item action="moreShow">
        <i class="material-icons">&#xE5D4;</i>

        <ul class='more-list hidden'>
            <li action='checkpointMarkUnreachable' mdot noselect>Markeer onbereikbaar</li>
            <li action='checkpointEditName' mdot noselect>Bewerk naam</li>
        </ul>
    </item>
</menu>
<content>
    <ul class='question-list'>

    </ul>
</content>

<script>
    app.navigate.back = function(){
        app.navigate.to('views/checkpoints/index.html', function(e){

        });
    }
    var sp = app.day['data'][app.appointmentIndex]['checkpoints'][app.checkpointIndex];
    var unreachable = (sp.unreachable == true) ? 'unreachable' : '';

    if(sp.unreachable == true){
        var action = $('[action="checkpointMarkUnreachable"]');
        action.attr('action', 'checkpointMarkReachable');
        action.html("Markeer bereikbaar");
    }


    for(var i in app.day['data'][app.appointmentIndex]['checkpoints'][app.checkpointIndex]['questions']){
        var questionIndex = i;
        var question = app.day['data'][app.appointmentIndex]['checkpoints'][app.checkpointIndex]['questions'][i];
        if(question.answered === false){
            str = '<li>';
            str += app.question.createHTML(questionIndex, question);
            str += '</li>';
            $('.question-list').append( $(str) );

        } else if(question.answered === true){
            str = '<li class="answered">';
            str += app.question.createHTML(questionIndex, question);
            str += '</li>';
            $('.question-list').append( $(str) );

        }
    }

    $('title').html(app.checkpoint.name);
</script>
