<menu class='has-2'>
    <item action="navigateBack">
        <i class="material-icons">&#xE5C4;</i>
    </item>
    <title>Afspraak</title>
</menu>
<content>
    <section id='appointment-information' class='inner' style="color: #71BA51;">

    </section>
    <section class='inner' action="viewCheckpoints" mdot noselect>
        <h2 class='title'>Meetpunten</h2>
    </section>
    <section class='inner' action="viewDebtor" mdot noselect>
        <h2 class='title'>Detail</h2>
    </section>
    <section class='inner' action="viewRemarks" mdot noselect>
        <h2 class='title'>Opmerkingen</h2>
    </section>
    <section class='inner'>
        <ul id='floorplan-list'></ul>
    </section>
    <!-- <section class='inner' action="viewMap" mdot noselect -->

    <div id='complete-appointment' action="completeAppointment" mdot noselect>
        Afspraak afronden
    </div>
</content>


<script>
    $('view title').html( app.appointment.debtor.name );

    for(var i in app.appointment.checkpoints){
        var sp =  app.appointment.checkpoints[i];
    }

    for(var i in app.appointment.floorplan){
        var floorplan = app.appointment.floorplan[i];
        var str= "<li action='viewFloorplan' floorplan='"+i+"'>";
        str += floorplan.name;
        str += "</li>";

        $('#floorplan-list').append( $(str) );
    }


    if(app.appointment.hasOwnProperty('information')){
        $('#appointment-information').html( app.appointment.information );
    } else {
        $('#appointment-information').addClass('hidden');
    }


    app.navigate.back = function(){
        app.appointment = null;
        app.navigate.to('views/index.html', function(e){

        });
    }


</script>
