<menu class='has-2 scheme'>
    <item action="navigateBack" mdot noselect>
        <i class="material-icons icon">&#xE5C4;</i>
    </item>
    <title>Afspraak</title>
</menu>
<content>
    <div id='dialog-dialog-remark-index' class='modal' dialog-ok='Ok' backdrop>
        <div class='inner'>
        </div>
    </div>
    <div class='modal-backdrop'></div>
    <section id='red-card' class='inner appointment red-card hidden'>
        Rode kaart actief
    </section>
    <section id='appointment-remarks' class='inner appointment information'>

    </section>
    <section class='inner appointment view-checkpoints' action="viewCheckpoints" mdot noselect>
        <h2 class='title'>Controlepunten</h2>
    </section>
    <section class='inner appointment view-debtor scheme' action="viewDebtor" mdot noselect>
        <h2 class='title'>Detail</h2>
    </section>
    <section class='inner appointment view-products hidden' action='viewProducts' mdot noselect>
        <h2 class='title'>Producten</h2>
    </section>
    <!-- <section class='inner appointment view-summary' action='viewSummary' mdot noselect>
        <h2 class='title'>Overzicht</h2>
    </section> -->
    <section class='inner'>
        <ul id='floorplan-list' class='floorplan-list'></ul>
    </section>
    <div id='complete-appointment' action="completeAppointment" mdot noselect>
        Afspraak afronden
    </div>
</content>


<script>

    app.scanner.canScan = false;

    $('view title').html( app.appointment.debtor.name );
    if(app.appointment.sync == false || app.appointment.complete == true){
        $('[action="completeAppointment"]').addClass('hidden');
    }

    if(app.appointment.debtor.is_non_contract_products_allowed == true){
        document.querySelector('[action="viewProducts"]').classList.remove('hidden');
    }

    if(app.appointment.hasOwnProperty('remarks')){
        $('#appointment-remarks').html( app.appointment.remarks );
    } else {
        $('#appointment-remarks').addClass('hidden');
    }

    if(app.appointment.red_card == true){
        $('#red-card').removeClass('hidden');
    }

    for(var i in app.appointment.floorplan){
        var floorplan = app.appointment.floorplan[i];
        var str= "<li action='viewFloorplan' floorplan='"+i+"' mdot noselect>";
        str += floorplan.name;
        str += "</li>";

        $('#floorplan-list').append( $(str) );
    }


    app.navigate.back = function(){
        app.appointment = null;
        app.navigate.to('views/index.html', function(e){

        });
    }


</script>
