<menu class='has-2'>
    <item action="navigateBack">
        <i class="material-icons">&#xE5C4;</i>
    </item>
    <title>Installaties</title>
</menu>
<content>
    <ul class='installation-list'>
    </ul>
    <button action='submitAppointment' style='margin: 0 10px; width: calc(100% - 20px);' class='btn btn-default success wide'>Opslaan</button>
</content>
<script>
app.navigate.back = function(){
    app.navigate.to('views/appointment/index.html', function(e){

    });
}


for(var i in app.appointment.service_types){
    var st =  app.appointment.service_types[i];
    if(st.additional_questions.hasOwnProperty('on')){
        var on = (st.state != null) ? st.state : '';
        str = "<li servicetype='"+i+"' on='"+on+"'>";
        str += "<h2>" + st.name + "</h2>";
        str += "<p>" + st.remarks + "</p>";
        str += "<label for='service_type_"+i+"_"+1+"'>";
        str += "<input id='service_type_"+i+"_"+1+"'' type='radio' name='service_type_"+i+"' value='1'>";
        str += "<div class='service-type status-1'></div>";
        str += "</label>";

        str += "<label for='service_type_"+i+"_"+2+"'>";
        str += "<input id='service_type_"+i+"_"+2+"'' type='radio' name='service_type_"+i+"' value='2'>";
        str += "<div class='service-type status-2'></div>";
        str += "</label>";

        str += "<label for='service_type_"+i+"_"+3+"'>";
        str += "<input id='service_type_"+i+"_"+3+"'' type='radio' name='service_type_"+i+"' value='3'>";
        str += "<div class='service-type status-3'></div>";
        str += "</label>";

        str += "</li>";

        str += "<ul class='question-list' on='"+st.additional_questions.on+"' servicetype='"+i+"'>";

        for(var questionIndex in st.additional_questions.questions){
            var question = st.additional_questions.questions[questionIndex];
            var answered = (question.answered) ? 'answered' : '';
            str += "<li class='"+answered+"'>";
            str +=  app.question.createHTML(questionIndex, question);
            str += "</li>";
        }
        str += "</ul>";


        $('.installation-list').append( $(str) );
    } else {

    }
}
</script>
