<menu class='has-2'>
    <item action="navigateBack" mdot noselect>
        <i class="material-icons">&#xE5C4;</i>
    </item>
    <title>Installaties</title>
</menu>
<content>
    <ul class='installation-list'>
        <button action='signAppointment' class='btn btn-default success wide' mdot noselect>Ondertekenen</button>
    </ul>

</content>
<script>
app.navigate.back = function(){
    app.navigate.to('views/appointment/index.html', function(e){

    });
}


for(var i in app.appointment.service_types){
    var st =  app.appointment.service_types[i];
    if(st.additional_questions.hasOwnProperty('on')){
        var isAnswered = true;
        for(var iq in st.additional_questions.questions){
            var q = st.additional_questions.questions[iq];
            if(q.required == true && q.answered == false){
                isAnswered = false;
                break;
            }
        }
        var isAnswered = (isAnswered == true) ? 'completed' : '';
        var on = (st.state != null) ? st.state : '';
        str = "<li servicetype='"+i+"' on='"+on+"' class='"+isAnswered+"'>";
        str += "<h2>" + st.name + "</h2>";
        str += "<p>" + st.remarks + "</p>";
        var width = (100 / st.states.length) + "%";
        for(var iS in st.states){
            var state = st.states[iS];
            str += "<label for='service_type_"+i+"_"+state.state_id+"'>";
            str += "<input id='service_type_"+i+"_"+state.state_id+"'' type='radio' name='service_type_"+i+"' value='"+state.state_id+"'>";
            str += "<div class='service-type status-"+state.state_id+"' content='Overlast' style='background-color: "+state.colour+"; width: "+width+"'></div>";
            str += "</label>";
        }

        // str += "<label for='service_type_"+i+"_"+1+"'>";
        // str += "<input id='service_type_"+i+"_"+1+"'' type='radio' name='service_type_"+i+"' value='1'>";
        // str += "<div class='service-type status-1' content='Overlast'></div>";
        // str += "</label>";
        //
        // str += "<label for='service_type_"+i+"_"+2+"'>";
        // str += "<input id='service_type_"+i+"_"+2+"'' type='radio' name='service_type_"+i+"' value='2'>";
        // str += "<div class='service-type status-2' content='Risico'></div>";
        // str += "</label>";
        //
        // str += "<label for='service_type_"+i+"_"+3+"'>";
        // str += "<input id='service_type_"+i+"_"+3+"'' type='radio' name='service_type_"+i+"' value='3'>";
        // str += "<div class='service-type status-3' content='Geen overlast'></div>";
        // str += "</label>";

        str += "</li>";

        str += "<ul class='question-list "+isAnswered+"' on='"+st.additional_questions.on+"' servicetype='"+i+"'>";

        for(var questionIndex in st.additional_questions.questions){
            var question = st.additional_questions.questions[questionIndex];
            var answered = (question.answered) ? 'answered' : '';
            str += "<li class='"+answered+"'>";
            str +=  app.question.createHTML(questionIndex, question);
            str += "</li>";
        }
        str += "</ul>";


        $('.installation-list').append( $(str) );
    } else {

    }
}
</script>
