
<menu class='has-2'>
    <item>
    </item>
    <title>Login</title>
</menu>
<content>
    <section class='inner'>
        <form id='form-login-form' class='form'>
            <div class='row'>
                <input type="text" name='username' class='input' placeholder="gebruikersnaam"></input>
            </div>
            <div class='row'>
                <input type="password" name='password' class='input' placeholder="wachtwoord"></input>
            </div>
            <div class='row'>
                <label id='login-exception' class='label label-default exception wide hidden'></label>
            </div>
            <button class='btn btn-default wide success'>Aanmelden</button>
        </form>
    </section>
</content>
